@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('fundo.jpg') no-repeat center center fixed;
  background-size: cover;

}

.container {
  position: relative;
  width: 380px;
  height: 480px;
  perspective: 1000px;
}

.form-box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid rgba(162, 158, 158, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  padding: 40px;
  color: #000000;
  transition: transform 0.7s ease, opacity 0.5s ease;
  backface-visibility: hidden;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 25px;
}

.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  color: #000000;
  font-size: 16px;
}

.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  color: #aaa;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -20px;
  color: #000000;
  font-size: 12px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ffb300;
  color: #111;
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #ffa600;
  box-shadow: 0 0 20px #e49400;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.link {
  color: #ffb300;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

/* Login e Register alternando */
.login {
  transform: rotateY(180deg);
  opacity: 0;
}

#toggle:checked ~ .register {
  transform: rotateY(180deg);
  opacity: 0;
}

#toggle:checked ~ .login {
  transform: rotateY(0);
  opacity: 1;
}